:root {
  --red: #980002;
  --dark_red: rgba(152, 0, 2, 0.58);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  background-color: black;
  color: white;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: var(--red);
}

a {
  color: black;
  text-decoration: none;
}

h2 {
  text-transform: uppercase;
  font-size: 41px;
  font-weight: 600;
}

img {
  max-width: 100%;
  width: 100%;
}

.container {
  padding-left: 150px;
  padding-right: 150px;
}
.btn {
  display: block;
  background-color: var(--red);
  color: black;
  text-align: right;
  text-transform: uppercase;
  font-weight: bold;
  padding: 6px 40px 6px 0;
  width: 44vw;
  transition: all 0.3s ease;
}

.btn:hover,
.btn:focus {
  color: white;
}

.banner {
  width: 100%;
  padding: 90px 0 0px 90px;
  background-image: url(../img/bg1.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.banner__img {
  position: relative;
  right: 0;
  text-align: right;
  left: auto;
  padding-bottom: 90px;
  z-index: 2;
}

.banner__img img {
  width: 83vw;
  height: calc(95vh - 90px);
}
.banner__img::before {
  position: absolute;
  content: url(../img/blood1.png);
  right: 5vw;
  top: 7%;
  z-index: -1;
}
.banner__img::after {
  position: absolute;
  bottom: 0;
  right: 75vw;
  content: url(../img/blood2.png);
}

.decorations {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  height: 100%;
  background-image: url(../img/bg2.png), url(../img/bg3.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right, bottom left;
}

.decorations__text {
  max-width: 700px;
  width: 100%;
  padding-right: 50px;
}
.decorations__item_wrap {
  max-width: 85vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 100px auto;
}

.decoration__item:nth-child(2n + 1) {
  margin-top: 35px;
}

.decoration__item:last-child {
  margin-top: -115px;
  margin-left: 25%;
}

.decoration__item p {
  text-transform: uppercase;
}

.decoration__item img {
  width: 65%;
}
.decoration__item .color {
  padding-left: 60px;
  padding-bottom: 15px;
  color: var(--red);
  font-weight: bold;
}

.decoration__item .withZV {
  position: relative;
}

.decoration__item .withZV::before {
  position: absolute;
  top: -50px;
  left: 0;
  content: "";
  background-image: url(../img/ZV.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 35px;
  height: 45px;
}

.decoration__item_who {
  margin-left: -25%;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
}

.who_items {
  display: flex;
  justify-content: space-between;
  column-gap: 15px;
  margin-top: 20px;
  text-align: center;
}
.who_item img {
  width: 130px !important;
  clip-path: circle(50%);
}

.who_item span {
  color: var(--red);
  font-size: 24px;
  font-weight: 400;
  display: block;
}

.who_item .job {
  font-size: 16px;
  padding-top: 10px;
}

.change_branding__collage {
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr;
  margin: 0 0 0 auto;
  padding: 115px 0;
  background-image: url(../img/blood3.png);
  background-repeat: no-repeat;
  background-position: center right;
  justify-content: right;
  width: 90vw;
}

.change_branding__collage img {
  width: 100%;
  height: 100%;
}

.change_branding__small_img {
  width: 60vw;
  margin: 0 0 0 auto;
}
.change_branding__small_img.ch {
  margin: 0 auto 0 0;
}

.change_branding__example {
  background-image: url(../img/blood7.png), url(../img/blood3.png),
    url(../img/blood7.png);
  background-repeat: no-repeat;
  background-position: 0 15%, 100% 60%, 0% 90%;
}

.change_branding__example_info {
  margin: 75px 0;
}

.change_branding__example_info p {
  width: 75%;
  text-align: justify;
  margin: 40px 0 40px auto;
}

.change_branding__example_info:nth-child(4) p {
  margin-left: 0;
}

.twitter {
  padding: 80px 125px;
  text-align: center;
  background-color: var(--dark_red);
}

.twitter p {
  max-width: 800px;
  margin: 0 auto;
  text-transform: uppercase;
  font-weight: bold;
}

.twitter__question {
  width: 40vw;
  margin: 55px auto 40px;
  color: rgba(0, 0, 0, 0.5);
}

.twitter__link {
  width: 55vw;
}
@media screen and (max-width: 1024px) {
  body {
    font-size: 24px;
  }

  h2 {
    font-size: 36px;
  }
  .container {
    padding-left: 80px;
    padding-right: 80px;
  }
  .banner__img img {
    height: auto;
  }

  .banner__wrap {
    padding: 50px 0 50px 50px;
  }

  .decoration__item img {
    width: 100%;
  }

  .decoration__item:last-child {
    margin-top: -170px;
  }
  .twitter {
    padding: 50px 80px;
  }
  .twitter__question {
    margin: 30px 0px;
    width: 100%;
  }
  .twitter__link {
    width: 100%;
    text-align: center;
    padding: 6px 15px;
  }
}

@media screen and (max-width: 780px) {
  body {
    font-size: 18px;
  }

  h2 {
    font-size: 24px;
  }
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }

  .decorations {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .banner__img::before {
    right: -6vw;
    top: -6%;
    transform: scale(0.5);
  }

  .banner__img::after {
    transform: scale(0.5);
    right: 65vw;
  }

  .change_branding__example_info p {
    width: 100%;
  }
  .twitter {
    padding: 50px 40px;
  }
  .decoration__item:last-child {
    margin-top: -170px;
    display: flex;
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 420px) {
  .btn {
    width: 100%;
    padding: 6px 10px;
  }
  .banner {
    padding: 60px 0 0px 60px;
  }
  .banner__img {
    padding-bottom: 60px;
  }
  .decorations__text {
    padding: 0;
  }
  .decoration__item img {
    width: 70%;
  }
  .decoration__item .color {
    padding-left: 35px;
  }
  .decoration__item .withZV::before {
    top: -40px;
    width: 34px;
    height: 25px;
  }
  .decoration__item:last-child {
    margin-top: -20px;
    margin-left: 0;
  }

  .decoration__item_who {
    margin-top: 20px;
    margin-left: -65%;
  }

  .who_item img {
    width: 100px !important;
  }

  .who_item span {
    font-size: 18px;
    font-weight: 600;
  }

  .who_item .job {
    font-weight: 400;
  }

  .who_items {
    row-gap: 5px;
    justify-content: center;
  }

  .decorations__item_wrap {
    margin: 50px 0;
  }

  .change_branding__small_img {
    width: 75vw;
  }
  .change_branding__collage {
    padding: 50px 0;
    background-size: contain;
  }

  .change_branding__example {
    background-position: 100% 100%, 0% 5%;
  }
}
